# Data Science Tools and Ecosystem

Introduction: In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries by Data Scientists
* Make a single column table of Data Science Tools
* Run some examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python Language
2. R Language
3. Scala
4. SQL
5. Julia
6. C++
7. Java

Some of the commonly used libraries used by Data Scientists include:
   1. Pandas 
   2. Matplotlib
   3. Seaborn
   4. Vegas
   5. NumPy
   6. Scikit-Learn
   7. PyTorch

|Data Science Tools|
|----|
|MySQL|
|MongoDB|
|Apache Cassandra|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers. E.g:
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
one_hour = 60
x = 200
x_in_hours = x/one_hour
print(x_hours)

3.3333333333333335

## Author
Daniel McDinna